Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php

# Login
RewriteRule ^login/?$ app/controller/loginController.php?action=login [QSA,L]

RewriteRule ^login/process/?$ app/controller/loginController.php?action=processLogin [QSA,L]

RewriteRule ^logout/?$ app/controller/loginController.php?action=logout [QSA,L]


# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]

RewriteRule ^register/process/?$ app/controller/siteController.php?action=processRegister [QSA,L]

RewriteRule ^account/?$ app/controller/siteController.php?action=account [QSA,L]

RewriteRule ^account/process/?$ app/controller/siteController.php?action=processAccount [QSA,L]

RewriteRule ^authors/view/(\w+)/?$ app/controller/siteController.php?action=viewAuthor&aname=$1 [QSA,L]

RewriteRule ^search/?$ app/controller/siteController.php?action=search [QSA,L]

RewriteRule ^authors/subscribe/?$ app/controller/siteController.php?action=subscribe [QSA,L]

RewriteRule ^manage/?$ app/controller/siteController.php?action=manage [QSA,L]


# Course
RewriteRule ^courses/?$ app/controller/courseController.php?action=courses [QSA,L]

RewriteRule ^courses/personal?$ app/controller/courseController.php?action=personalCourses [QSA,L]

RewriteRule ^courses/view/(\d+)/?$ app/controller/courseController.php?action=viewCourse&cid=$1 [QSA,L]

RewriteRule ^courses/view/(\d+)/load/?$ app/controller/courseController.php?action=loadCourse&cid=$1 [QSA,L]

RewriteRule ^courses/view/(\d+)/comment/?$ app/controller/courseController.php?action=comment&cid=$1 [QSA,L]

RewriteRule ^courses/new/?$ app/controller/courseController.php?action=newCourse [QSA,L]

RewriteRule ^courses/edit/(\d+)/?$ app/controller/courseController.php?action=editCourse&cid=$1 [QSA,L]

RewriteRule ^courses/edit/process/(\d*)/?$ app/controller/courseController.php?action=processCourse&cid=$1 [QSA,L]

RewriteRule ^courses/publish/?$ app/controller/courseController.php?action=publish [QSA,L]



# Lesson
RewriteRule ^lessons/personal?$ app/controller/lessonController.php?action=personalLessons [QSA,L]

RewriteRule ^lessons/new/?$ app/controller/lessonController.php?action=newLesson [QSA,L]

RewriteRule ^lessons/edit/(\d*)/?$ app/controller/lessonController.php?action=editLesson&lid=$1 [QSA,L]

RewriteRule ^lessons/edit/process/(\d*)/?$ app/controller/lessonController.php?action=processLesson&lid=$1 [QSA,L]
