body {
	height: 100vh;
}

#nav-top {
	margin-bottom: 0;
}

.banner {
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

header #logo {
	margin: 2rem 2rem 6rem;
}
