body {
	height: 100vh;
	background: #bfdff5;
}

main.container {
	background: white;
	padding-bottom: 15px;
	/* Margin for the fixed footer */
	margin-bottom: 70px;
}

.navbar ul {
	/* Fix Bootstrap's negative margin for small screens */
	margin-right: 0;
	margin-left: 0;
}

#nav-top {
	margin-bottom: 0;
}

.banner {
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

header #logo {
	margin: 3rem 2rem 7rem;
}
